<!-- Modal Blank-->
<div class="modal fade" id="modal_blank" tabindex="-1" role="dialog" aria-labelledby="modal_blank-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="/img/headshots/speaker-01.png" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Coming Soon</h1>
                        <h2>Special Guests and Cosplayers</h2>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a>
                            <!--<a href="#">Twitter</a>
                            <a href="#">YouTube</a>-->
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <!--<h3>About me</h3>-->
                        <h3>Coming Soon</h3>
                        <p>Check back here for announcements for special guests, personalites, and cosplayers who will be at LAG-Fest 2016. We'll be announcing them right here and on Facebook. Like us on Facebook for regular updates!</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3></h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Lag-Fest</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>11 / 18 / 2016</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal10 -->