          <h3>Schedule</h3>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#september-26" role="tab" data-toggle="tab">Coming Soon</a></li>
              <!--<li><a href="#september-27" role="tab" data-toggle="tab">Tuesday, September 27</a></li>-->
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane fade in active" id="september-26">
                  <div class="panel-group" id="schedule-table-september-26">
                      <div class="panel panel-default">
                          <a href="#september-26-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-26">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="time">
                                          <i class="fa fa-clock-o"></i>
                                          <figure>TBA</figure>
                                      </div>
                                  </div>
                                  <div class="col-md-10 col-sm-10">
                                      <div class="title"><h3>Check back here for updates to our schedule and event announcements.</h3></div>
                                  </div>
                              </div>
                              <i class="fa fa-plus"></i>
                          </a><!-- .panel-header -->
                          <div id="september-26-1" class="panel-collapse collapse description">
                              <div class="row">
                                  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                      <div class="panel-body">
                                          <p>We absolutely promise to post this more than a week before the event. Cross our hearts and hope to die... for real. We mean it this time.</p>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- .panel-collapse -->
                      </div><!-- .panel -->


                  </div>
              </div><!-- .tab-pane -->

              <div class="tab-pane fade" id="september-27">
                  <div class="panel-group" id="schedule-table-september-27">
                      <div class="panel panel-default">
                          <a href="#september-27-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="time">
                                          <i class="fa fa-clock-o"></i>
                                          <figure>08:00</figure>
                                      </div>
                                  </div>
                                  <div class="col-md-10 col-sm-10">
                                      <div class="title"><h3>Duis ornare tincidunt erat ac cursus. Etiam vel vulputate odio, id posuere dolor</h3></div>
                                  </div>
                              </div>
                              <i class="fa fa-plus"></i>
                          </a><!-- .panel-header -->
                          <div id="september-27-1" class="panel-collapse collapse description">
                              <div class="row">
                                  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                      <div class="panel-body">
                                          <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- .panel-collapse -->
                      </div><!-- .panel -->

                      <div class="panel panel-default">
                          <a href="#september-27-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="time">
                                          <i class="fa fa-clock-o"></i>
                                          <figure>10:30</figure>
                                      </div>
                                  </div>
                                  <div class="col-md-10 col-sm-10">
                                      <div class="title"><h3>Vivamus at iaculis nisi. Quisque vitae congue lacus, eu blandit odio. Aliquam leo eros</h3></div>
                                  </div>
                              </div>
                              <i class="fa fa-plus"></i>
                          </a><!-- .panel-header -->
                          <div id="september-27-2" class="panel-collapse collapse description">
                              <div class="row">
                                  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                      <div class="panel-body">
                                          <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- .panel-collapse -->
                      </div><!-- .panel -->

                      <div class="panel panel-default">
                          <a href="#september-27-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="time">
                                          <i class="fa fa-clock-o"></i>
                                          <figure>12:00</figure>
                                      </div>
                                  </div>
                                  <div class="col-md-10 col-sm-10">
                                      <div class="title"><h3>Lunch Time</h3></div>
                                  </div>
                              </div>
                              <i class="fa fa-plus"></i>
                          </a><!-- .panel-header -->
                          <div id="september-27-4" class="panel-collapse collapse description">
                              <div class="row">
                                  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                      <div class="panel-body">
                                          <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- .panel-collapse -->
                      </div><!-- .panel -->

                      <div class="panel panel-default">
                          <a href="#september-27-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
                              <div class="row">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="time">
                                          <i class="fa fa-clock-o"></i>
                                          <figure>13:30</figure>
                                      </div>
                                  </div>
                                  <div class="col-md-10 col-sm-10">
                                      <div class="title"><h3>Sed ac libero iaculis, laoreet enim nec, pretium ante.</h3></div>
                                  </div>
                              </div>
                              <i class="fa fa-plus"></i>
                          </a><!-- .panel-header -->
                          <div id="september-27-3" class="panel-collapse collapse description">
                              <div class="row">
                                  <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                      <div class="panel-body">
                                          <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- .panel-collapse -->
                      </div><!-- .panel -->

                  </div>
              </div><!-- .tab-pane -->
          </div><!-- .tab-content -->
          <p>Interested in hosting a panel for LAG Fest? Apply <a href="/contact#panels">here</a> to contact our programming director to be a part of LAG Fest this year! Panelists receive a free weekend badge.</p>
      </div><!-- .container -->
  </section>
  <!-- end Schedule -->
